<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>新建采购单</title>
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		
	</style>
	<script th:src="@{/js/jquery-1.12.4.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/bootstrap.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/dialog.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/vue.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/axios.min.js}" type="text/javascript" charset="utf-8"></script>
	<body>
		<!--
        	作者：offline
        	时间：2019-11-12
        	描述：新建采购单
        -->
       
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_yggl" class="tal_none2">
					<div class="row" style="height:50px;line-height:52px;margin-bottom:10px;margin-left: 5px;margin-right:15px;border-bottom: 1px solid #e7e7eb;">
						<div style="padding-left: 0;float: left;">供应商</div>
						<div style="float: right;width: 80%;">
							<div style="text-align: right;margin-right: 10px;">
								<input type="text" class="form-control" id="inputEmail3" placeholder="请输入货号或条码+回车 确认" style="width: 32.50%; display: inline-block;">
								<a class="glyphicon glyphicon-search" style="margin-left: -28px;cursor: pointer;"></a>
							</div>
						</div>
					</div>
					<div class="row" style="margin-bottom:20px;margin-left: 5px;margin-right:15px;">
						<form class="">
							<div style="padding-bottom: 10px;width: 100%;overflow:hidden;margin-left: 4px;">
								<div style="float: left;width: 25%;">
									<label>单 号</label>
									 
									
									<input type="text" name="odd" class="form-control" style="display: inline-block; width: 78%;">
								</div>
								<div style="float: left;width: 25%;">
									<label>交 期</label>
									<input type="date" name="deliverydate" class="form-control" onchange="changeTime()" style="display: inline-block; width: 78%;">
								</div>
								<div style="float: left;width: 25%;">
									<label>供应商</label>
									<select id="supplierSearch" name="supp" class="form-control" style="display: inline-block;width: 78%;">
									  
									</select>
								</div>
								<div style="float: left;width: 25%;">
									<label>制表人</label>
									<select class="form-control" style="display: inline-block;width: 78%;" name="zbiaor">
									  
									</select>
								</div>
							</div>	
							<div style="float: left;width: 100%;margin-left: 4px;">
								<label>备 注</label>
								<input type="text" name="remark" class="form-control" style="display: inline-block; width: 95.45%;">
							</div>
						</form>
					</div>
					<div class="row" style="margin-right: 15px;margin-left:5px;">
						<table class="table table-bordered table-hover table-striped" style="font-size: 13px;">
							<thead align="center">
								<tr class="info">
									<td width="4%">货号</td>
									<td width="5%">条码</td>
									<td width="12%">产品名称</td>
									<td width="10%">规格</td>
									<td width="8%">成本价</td>
									<td width="6%">数量</td>
									<td width="6%">金额</td>
								</tr>
							</thead>
							<tbody id="tbody2" align="center">
								
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7">
										<div style="float: right;line-height: 38px;padding-right: 14px;">
											金额<span style="color: red;" id="moeny">0.00</span>
										</div>
										<div style="float: right;line-height: 38px;padding-right: 14px;">
											合计<span style="color: red;" id="num">0</span>件
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="row" style="margin-right: 15px;padding-left: 5px;">
						<div class="col-md-2">
							<span style="color: #44b549;cursor: pointer;" data-toggle="modal" data-target="#myModal">+ 添加商品</span>
						</div>
						<div style="text-align: right;">
							<button type="reset" class="btn btn-default" style="width: 8%;">清空</button>
							<button type="button" class="btn btn-success" style="width: 8%;"id="submit" onclick="xzhxg()">提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div style="width: 75%;" class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">选择商品</h4>
		            </div>
		            <div class="modal-body" style="padding:50px">
		            	<table class="table table-bordered table-hover table-striped" style="font-size: 13px;">
							<thead align="center">
								<tr class="info">
									<td width="6%"><input type="checkbox" name="ckAll" />全选</td>
									<td width="6%">货码/条码</td>
									<td width="10%">商品</td>
									<td width="15%">规格</td>
									<td width="10%">单价</td>
									<td width="10%">库存</td>
								</tr>
							</thead>
							<tbody id="tbody" align="center">
								 <!-- <tr>
									<td><input type="checkbox" name="ck" /></td>
									<td>
										<span style="display: block;">6720</span>
										<span style="display: block;">612841444</span>
									</td>
									<td>绿色卫衣</td>
									<td>--</td>
									<td>229.00</td>
									<td>3</td>
								</tr>  -->
							</tbody>
						</table>
		            </div>
		            <div class="modal-footer" style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
		                <button type="button" class="btn btn-success" style="width: 16.66%;" data-dismiss="modal" id="ok">确认</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript">
		
			var id="[[${id}]]";
			if(id>0){
				
				$(function(){
					//上面部分
					var obj={
							purchaseid:id
	                   }			  
	                    $.ajax({
		                  	url : "/selectpurchasenoteid",
		                     	data :obj,
			               	"success":function(res){
			               		console.log(res)
			               		$.each(res,function(i,obj){
			               		$("[name=odd]").val(obj.purchaseid)
			               		$("[name=deliverydate]").val(obj.deliverytime)
			               		$("[name=supp]").append("<option>"+obj.supplier2+"</option>")
			               		$("[name=zbiaor]").val(obj.lister)
			               		$("[name=remark]").val(obj.remark)
			               		$("[name=zbiaor]").append("<option>"+obj.lister+"</option>")
			               		})
			               	}
				
	                    }) 
	                    
	                    
	                    
	                    
				 $.ajax({
		                  	url : "/selectparticularsid",
		                     	data :obj,
			               	"success":function(res){
			               		console.log(res)
			               		$.each(res,function(i,obj){
			               			
			               			var tr = $("<tr>"+
											"<td>"+(i+1)+"</td>"+
											"<td>"+obj.particularsbarcode+"</td>"+
											"<td>"+obj.particularsname+"</td>"+
											"<td>"+
												"<span style='display: block;'>"+obj.particularsspecification+"</span>"+
												"<span style='display: block;'></span>"+
											"</td>"+
											"<td name='sell'>"+obj.particularscostprice+"</td>"+
											"<td><input type='text' onchange='changeNum(this)' name='num' value="+obj.particularsquantity+" class='form-control' style='width:80%;padding-left:35px'></td>"+
											"<td>"+
												"<span name='sum'>"+obj.particularscostprice+"</span>"+
												"<span onclick='removeTr(this)' style='padding-left:15px;color:red' >删除</span></td>"+
										"</tr>");
			       			$("#tbody2").append(tr);
			               			
			               		})
			               		setTotal(); 
			               	}
				 })
			               	
				
				 $.ajax({
						url : "/selectgoood",
						"success":function(res){
							$("#tbody").html("")
							$.each(res,function(i,obj){
								$("#tbody").append("<tr>"+
			                               "<td><input type='checkbox' name='ck' /></td>"+
											"<td>"+
												"<span name='articleno' style='display: block;'>"+obj.barcode+"</span>"+
												"<span name='shapecode' style='display: block;'></span>"+
											"</td>"+
											"<td name='cname'>"+obj.goodsname+"</td>"+
											"<td>"+ 
												"<span name='colorname' style='display: block;'>"+obj.specification+"</span>"+
												"<span name='sizename' style='display: block;'></span>"+
											"</td>"+
											"<td name='sell'>"+obj.sales_price+"</td>"+
											"<td name='inventory'>"+obj.inventory+"</td>"+
										"</tr>");
							})
							setTotal(); 
							
						}
					}); 
				
				
					 $("[name=ckAll]").live("click",function(){
				       		$("[name=ck]").prop("checked",$(this).prop("checked"))
				        }); 
					
					
				        //反选
					  $("[name=ck]").live("click",function(){
				       		var ck = $("[name=ck]").length;
				       		if(ck == $("[name=ck]:checked").length){
				       			$("[name=ckAll]").prop("checked",true);
				       		}else{
				       			$("[name=ckAll]").prop("checked",false);
				       		}
				        });
				 
				 
				 /////
				 
				 
				 
				 
				 
				      	$("#ok").live("click",function(){

				       		var check = $("input[name='ck']:checked");	//选中的复选框	
				       		var selectedData = [];
				       		check.each(function(){	
				       			var row= $(this).parent("td").parent("tr");	
				       			
				       			var articleno = row.find("[name='articleno']").html();
				       			var cname = row.find("[name='cname']").html();
				       			var colorname = row.find("[name='colorname']").html();
				       			var sell = row.find("[name='sell']").html();
				       			var inventory = row.find("[name='inventory']").html();
				       			
				       			selectedData.push({articleno:articleno,cname:cname,colorname:colorname,
				       				sell:sell,inventory:inventory})
				       		}); 
				       		console.info(selectedData)
							
				       		$("#tbody2").html("");
				       		
				       		$.each(selectedData,function(i,obj){
				       			var tr = $("<tr>"+
												"<td>"+(i+1)+"</td>"+
												"<td>"+obj.articleno+"</td>"+
												"<td>"+obj.cname+"</td>"+
												"<td>"+
													"<span style='display: block;'>"+obj.colorname+"</span>"+
													"<span style='display: block;'></span>"+
												"</td>"+
												"<td name='sell'>"+obj.sell+"</td>"+
												"<td><input type='text' onchange='changeNum(this)' name='num' value='1' class='form-control' style='width:80%;padding-left:35px'></td>"+
												"<td>"+
													"<span name='sum'>"+obj.sell+"</span>"+
													"<span onclick='removeTr(this)' style='padding-left:15px;color:red' >删除</span></td>"+
											"</tr>");
				       			$("#tbody2").append(tr);
				       		});		
				       		 setTotal(); 
				       	});
				 
				 
				 
				 
				 
				 ///修改
				
				 
				 
				 
				 
				
				})
				 function xzhxg(){
					 alert("修改")
				 }
				
				
				
			}else{
				
				
			$(function(){
				
				
       /* init() ; */
				
				//提交
lo();

			        
			})
			}	
			
			
			function lo(){
				
				//时间赋值
				var now=new Date();
				var year=now.getFullYear();
				var month=now.getMonth()+1;
				var date=now.getDate();
				$("[name=deliverydate]").val(year+"-"+month+"-"+date);
								
						$.ajax({
						url:"/selectcon/"+year+month+date,
						success:function(res){
							
							$("[name=odd]").val(JSON.parse(res));
						}
						}) 
       
       
				
				
				//供应商下拉
				$.ajax({
					url : "/selectsupplier",
					"success":function(res){
						$.each(res,function(i,obj){
							$("#supplierSearch").append("<option value="+obj.supplierid+">"+obj.suppliername+"</option>");
						})
						
					}
				}); 
				//模拟框数据
				$.ajax({
					url : "/selectgoood",
					"success":function(res){
						$("#tbody").html("")
						$.each(res,function(i,obj){
							$("#tbody").append("<tr>"+
		                               "<td><input type='checkbox' name='ck' /></td>"+
										"<td>"+
											"<span name='articleno' style='display: block;'>"+obj.barcode+"</span>"+
											"<span name='shapecode' style='display: block;'></span>"+
										"</td>"+
										"<td name='cname'>"+obj.goodsname+"</td>"+
										"<td>"+ 
											"<span name='colorname' style='display: block;'>"+obj.specification+"</span>"+
											"<span name='sizename' style='display: block;'></span>"+
										"</td>"+
										"<td name='sell'>"+obj.sales_price+"</td>"+
										"<td name='inventory'>"+obj.inventory+"</td>"+
									"</tr>");
						})
						
					}
				}); 
				
				 //全选
				 $("[name=ckAll]").live("click",function(){
			       		$("[name=ck]").prop("checked",$(this).prop("checked"))
			        }); 
				
				
			        //反选
				  $("[name=ck]").live("click",function(){
			       		var ck = $("[name=ck]").length;
			       		if(ck == $("[name=ck]:checked").length){
			       			$("[name=ckAll]").prop("checked",true);
			       		}else{
			       			$("[name=ckAll]").prop("checked",false);
			       		}
			        });
				  
				  
				  //表格数据
			       	$("#ok").live("click",function(){

			       		var check = $("input[name='ck']:checked");	//选中的复选框	
			       		var selectedData = [];
			       		check.each(function(){	
			       			var row= $(this).parent("td").parent("tr");	
			       			
			       			var articleno = row.find("[name='articleno']").html();
			       			var cname = row.find("[name='cname']").html();
			       			var colorname = row.find("[name='colorname']").html();
			       			var sell = row.find("[name='sell']").html();
			       			var inventory = row.find("[name='inventory']").html();
			       			
			       			selectedData.push({articleno:articleno,cname:cname,colorname:colorname,
			       				sell:sell,inventory:inventory})
			       		}); 
			       		console.info(selectedData)
						
			       		$("#tbody2").html("");
			       		
			       		$.each(selectedData,function(i,obj){
			       			var tr = $("<tr>"+
											"<td>"+(i+1)+"</td>"+
											"<td>"+obj.articleno+"</td>"+
											"<td>"+obj.cname+"</td>"+
											"<td>"+
												"<span style='display: block;'>"+obj.colorname+"</span>"+
												"<span style='display: block;'></span>"+
											"</td>"+
											"<td name='sell'>"+obj.sell+"</td>"+
											"<td><input type='text' onchange='changeNum(this)' name='num' value='1' class='form-control' style='width:80%;padding-left:35px'></td>"+
											"<td>"+
												"<span name='sum'>"+obj.sell+"</span>"+
												"<span onclick='removeTr(this)' style='padding-left:15px;color:red' >删除</span></td>"+
										"</tr>");
			       			$("#tbody2").append(tr);
			       		});		
			       		 setTotal(); 
			       	});
			       	
				
			}
			
			
			//删除
			function removeTr(dq){
				$(dq).parent("td").parent("tr").remove();
				setTotal();
			}
			
			
			//数量
			function changeNum(dq){
				$(dq).parent("td").parent("tr").find("[name='sum']").html(
						parseInt($(dq).val())*parseFloat($(dq).parent("td").parent("tr").find("[name='sell']").text())); 
				setTotal();
	       	}
			
			//总金额
			function setTotal(){ 
				//商品件数
	       		$("#num").html($("#tbody2").find("tr").length);
				
				var totalMoeny = 0; 
				$("#tbody2 tr").each(function(){ 
					totalMoeny += parseInt($(this).find("[name='num']").val())*parseFloat($(this).find("[name='sell']").text()); 
				}); 
				
				$("#moeny").html(totalMoeny.toFixed(2)); 
			} 
			
		
			
			function xzhxg(){
				 alert("新增")
			}  
			
			
		</script>
	</body>
</html>
