<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>门店列表</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}
#myModal .modal-body .col-sm-2, #myModal2 .modal-body .col-sm-2 {
	margin-top: 7px;
}
#myModal .modal-body .col-sm-5, #myModal2 .modal-body .col-sm-5 {
	margin-left: -50px;
}
</style>
<script th:src="@{/js/jquery-1.12.4.js}" type="text/javascript"
	charset="utf-8"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"
	charset="utf-8"></script>
<script th:src="@{/js/dialog.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/vue.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/axios.min.js}" type="text/javascript"
	charset="utf-8"></script>

<script th:src="@{/js/distpicker.data.js}"></script>
<script th:src="@{/js/distpicker.js}"></script>
<script th:src="@{/js/main.js}"></script>
<body>
	<!--
	    	作者：offline
	    	时间：2019-11-12
	    	描述：门店列表
	    -->
	<div id="shopList">
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_dpgl" class="tal_none2">
					<div class="row"
						style="line-height: 32px; margin-left: 5px; margin-right: 15px; padding-bottom: 8px; padding-top: 15px;">
						<span
							style="border-left: 4px solid #44b549; height: 18px; line-height: 16px; padding-left: 3px;">门店列表</span>
						<button type="button" class="btn btn-success"
							style="float: right;" data-toggle="modal" data-target="#myModal">添加门店</button>
					</div>
					<div class="row" style="margin-right: 15px; margin-left: 5px;">
						<table class="table table-bordered table-hover">
							<thead align="center">
								<tr class="active">
									<td width="3%">序号</td>
									<td width="6%">账号</td>
									<td width="6%">店名</td>
									<td width="3%">员工</td>
									<td width="5%">联系人</td>
									<td width="5%">手机</td>
									<td width="5%">电话</td>
									<td width="12%">地址</td>
									<td width="4%">操作</td>
								</tr>
							</thead>
							<tbody align="center">
								<tr v-for="shops,index in page.list">
									<td name="id">{{index+1}}</td>
									<td>{{shops.uaccount}}</td>
									<td>{{shops.shopName}}</td>
									<td>{{shops.num_emp}}</td>
									<td>{{shops.liaison}}</td>
									<td>{{shops.handset}}</td>
									<td>{{shops.phone}}</td>
									<td>{{shops.address}}</td>
									<td data-toggle="modal" data-target="#myModal2"
										@click="selectById(shops.id)">编辑</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="9">
										<nav>
											<ul class="pager">
												<li><a href="#" @click="goFirstPage">首页</a></li>
												<li><a href="#" @click="goPrePage">上一页</a></li>
												<li><a href="#" @click="goNextPage">下一页</a></li>
												<li><a href="#" @click="goLastPage">尾页</a></li>
											</ul>
										</nav>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div style="text-align: right;">注:可添加多家门店，系统自动分配订单到附近门店。</div>
				</div>
			</div>
		</div>

		<!-- 新增模态框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">添加门店</h4>
					</div>
					<div class="modal-body">
						<div class="form-group" style="margin-top: 30px;">
							<label class="col-sm-2 control-label">店名</label>
							<div class="col-sm-5">
								<input type="text" class="form-control"
									v-model="shopAdd.shopName">
							</div>
							<label class="col-sm-2 control-label"
								style="margin: 7px 5px 0 -5px;">联系人</label>
							<div class="col-sm-5">
								<input type="text" class="form-control"
									v-model="shopAdd.liaison">
							</div>
						</div>
						<div class="form-group"
							style="margin-top: 20px; display: inline-block;">
							<label class="col-sm-2 control-label">手机</label>
							<div class="col-sm-5" style="margin-left: -51px;">
								<input type="text" class="form-control" style="width: 206.66px"
									v-model="shopAdd.handset">
							</div>
							<label class="col-sm-2 control-label"
								style="margin: 7px 5px 0 -5px;">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
							<div class="col-sm-5" style="margin: -33px 0px 0 325px;">
								<input type="text" class="form-control" style="width: 206.66px"
									v-model="shopAdd.phone">
							</div>
						</div>
						<div data-toggle="distpicker" class="form-group">
							<label class="col-sm-2 control-label">地址</label>
							<div class="col-sm-4" style="margin-left: -50px;">
								<select class="form-control" v-model="shopAdd.province"
									data-province="湖南省"  id="province">
								</select>
							</div>
							<div class="col-sm-4" style="margin-left: -25px;">
								<select class="form-control" v-model="shopAdd.city"
									data-city="株洲市"  id="city">
								</select>
							</div>
							<div class="col-sm-4" style="margin-left: -25px;">
								<select class="form-control" v-model="shopAdd.district"
									data-district="石峰区"  id="district">
								</select>
							</div>
						</div>
						<div class="form-group"
							style="margin-top: 20px; display: inline-block;">
							<label class="col-sm-2 control-label">街道</label>
							<div class="col-sm-10" style="margin-left: -45px;">
								<input type="text" class="form-control" style="width: 489px;"
									v-model="shopAdd.address" @click="getaddress" id="address">
							</div>
						</div>
					</div>
					<div class="modal-footer" style="margin-top: 30px;">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-success" data-dismiss="modal"
							@click="add">确定</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 修改模态框 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">编辑门店</h4>
					</div>
					<div class="modal-body">
						<div class="form-group" style="margin-top: 30px;">
							<label class="col-sm-2 control-label">店名</label>
							<div class="col-sm-5">
								<input type="text" class="form-control"
									v-model="shopUp.shopName">
							</div>
							<label class="col-sm-2 control-label"
								style="margin: 7px 5px 0 -5px;">联系人</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" v-model="shopUp.liaison">
							</div>
						</div>
						<div class="form-group"
							style="margin-top: 20px; display: inline-block;">
							<label class="col-sm-2 control-label">手机</label>
							<div class="col-sm-5" style="margin-left: -51px;">
								<input type="text" class="form-control" style="width: 206.66px"
									v-model="shopUp.handset">
							</div>
							<label class="col-sm-2 control-label"
								style="margin: 7px 5px 0 -5px;">电&nbsp;&nbsp;&nbsp;&nbsp;话</label>
							<div class="col-sm-5" style="margin: -33px 0px 0 325px;">
								<input type="text" class="form-control" style="width: 206.66px"
									v-model="shopUp.phone">
							</div>
						</div>
						<div data-toggle="distpicker" class="form-group">
							<label class="col-sm-2 control-label">地址</label>
							<div class="col-sm-4" style="margin-left: -50px;">
								<select class="form-control" v-model="shopUp.province" id="province">
								</select>
							</div>
							<div class="col-sm-4" style="margin-left: -25px;">
								<select class="form-control" v-model="shopUp.city" id="city">
								</select>
							</div>
							<div class="col-sm-4" style="margin-left: -25px;">
								<select class="form-control" v-model="shopUp.district" id="district">
									<option value="1"></option>
								</select>
							</div>
						</div>
						<div class="form-group"
							style="margin-top: 20px; display: inline-block;">
							<label class="col-sm-2 control-label">街道</label>
							<div class="col-sm-10" style="margin-left: -45px;">
								<input type="text" class="form-control" style="width: 489px;"
									v-model="shopUp.address" @click="address" id="address">
							</div>
						</div>
					</div>
					<div class="modal-footer" style="margin-top: 30px;">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal"
							@click="del(shopUp.id)">删除</button>
						<button type="button" class="btn btn-success" data-dismiss="modal"
							@click="update(shopUp.id)">确定</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		
	</script>
	</div>
</body>
<script type="text/javascript">
	var shop = new Vue({
		el : "#shopList",
		data : {
			page : {
				list : []
			},
			shopUp : {
				uaccount : "123456",
				shopName : "",
				liaison : "",
				handset : "",
				phone : "",
				address : "",
				province : "",
				city : "",
				district : ""
			},
			shopAdd : {
				uaccount : "123456",
				shopName : "",
				liaison : "",
				handset : "",
				phone : "",
				address : "",
				province : "",
				city : "",
				district : ""
			}
		},
		methods : {
			goPage : function(currentPage) {
				var th = this;
				$.ajax({
					url : "/shop/select",
					data : {
						pageNum : currentPage,
						pageSize : 3
					},
					success : function(res) {
						console.log(res);
						th.page = res;
					}
				});
			},
			goPrePage : function() {
				if (this.page.hasPreviousPage) {
					this.goPage(this.page.prePage, this.page.pageSize);
				}
			},
			goNextPage : function() {
				if (this.page.hasNextPage) {
					this.goPage(this.page.nextPage, this.page.pageSize);
				}
			},
			goFirstPage : function() {
				this.goPage(1, this.page.pageSize);
			},
			goLastPage : function() {
				this.goPage(this.page.pages, this.page.pageSize);
			},
			selectById : function(id) {
				$.ajax({
					url : "/shop/selectById",
					data : "id=" + id,
					success : function(res) {
						shop.shopUp = res;
					}
				});
			},
			del : function(id) {
				var th = this;
				$.ajax({
					url : "/shop/delete",
					data : "id=" + id,
					success : function(res) {
						alert(res.message);
						th.goPage(1);
					}
				});
			},
			add : function() {
				var th = this;
				$.ajax({
					url : "/shop/insert",
					type : "post",
					data : JSON.stringify(th.shopAdd),
					contentType : "application/json;charset=utf-8",
					success : function(res) {
						alert(res.message);
						th.goPage(1);
					}
				});
			},
			update : function(id) {
				var th = this;
				$.ajax({
					url : "/shop/update",
					type : "post",
					data : JSON.stringify(th.shopUp),
					contentType : "application/json;charset=utf-8",
					success : function(res) {
						alert(res.message);
						th.goPage(1);
					}
				});
			},
			getaddress : function() {
				var address = ($("#province").val() + $("#city").val()
						+ $("#district").val());
				$("#address").val(address);
			}
		},
		mounted : function() {
			this.goPage(1);
		}
	});
</script>
</html>
