<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aptech.mapper.ShopListMapper">
	<resultMap id="BaseResultMap"
		type="com.aptech.domain.ShopList">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uaccount" property="uaccount"
			jdbcType="VARCHAR" />
		<result column="shop_name" property="shopName"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="province" property="province"
			jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district"
			jdbcType="VARCHAR" />
		<result column="employees" property="employees"
			jdbcType="INTEGER" />
		<result column="liaison" property="liaison" jdbcType="VARCHAR" />
		<result column="handset" property="handset" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="INTEGER" />
		<result column="head_sculpture" property="headSculpture"
			jdbcType="VARCHAR" />
		<result column="shop_brief" property="shopBrief"
			jdbcType="VARCHAR" />
			<result column="num_emp" property="num_emp"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, uaccount, shop_name, address, province, city, district, employees,
		liaison, handset,
		phone, head_sculpture, shop_brief
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.aptech.domain.ShopListExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from shop_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByUaccount" resultMap="BaseResultMap" parameterType="String">
		select shop_list.id,shop_list.uaccount,shop_list.shop_name,COUNT(shop_id) as num_emp,
		shop_list.liaison,shop_list.handset,shop_list.phone,shop_list.address
		FROM shop_list LEFT JOIN employee ON employee.shop_id = shop_list.id
		WHERE shop_list.uaccount=#{uaccount}
		GROUP BY shop_list.id,shop_name
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from shop_list
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from shop_list
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.aptech.domain.ShopListExample">
		delete from shop_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.aptech.domain.ShopList">
		insert into shop_list (id, uaccount, shop_name,
		address, province, city,
		district, employees, liaison,
		handset, phone, head_sculpture,
		shop_brief)
		values (#{id,jdbcType=INTEGER}, #{uaccount,jdbcType=VARCHAR},
		#{shopName,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
		#{district,jdbcType=VARCHAR}, #{employees,jdbcType=INTEGER},
		#{liaison,jdbcType=VARCHAR},
		#{handset,jdbcType=INTEGER}, #{phone,jdbcType=INTEGER}, #{headSculpture,jdbcType=VARCHAR},
		#{shopBrief,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.aptech.domain.ShopList">
		insert into shop_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uaccount != null">
				uaccount,
			</if>
			<if test="shopName != null">
				shop_name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="employees != null">
				employees,
			</if>
			<if test="liaison != null">
				liaison,
			</if>
			<if test="handset != null">
				handset,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="headSculpture != null">
				head_sculpture,
			</if>
			<if test="shopBrief != null">
				shop_brief,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uaccount != null">
				#{uaccount,jdbcType=VARCHAR},
			</if>
			<if test="shopName != null">
				#{shopName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="employees != null">
				#{employees,jdbcType=INTEGER},
			</if>
			<if test="liaison != null">
				#{liaison,jdbcType=VARCHAR},
			</if>
			<if test="handset != null">
				#{handset,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=INTEGER},
			</if>
			<if test="headSculpture != null">
				#{headSculpture,jdbcType=VARCHAR},
			</if>
			<if test="shopBrief != null">
				#{shopBrief,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.aptech.domain.ShopListExample"
		resultType="java.lang.Integer">
		select count(*) from shop_list
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update shop_list
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.uaccount != null">
				uaccount = #{record.uaccount,jdbcType=VARCHAR},
			</if>
			<if test="record.shopName != null">
				shop_name = #{record.shopName,jdbcType=VARCHAR},
			</if>
			<if test="record.address != null">
				address = #{record.address,jdbcType=VARCHAR},
			</if>
			<if test="record.province != null">
				province = #{record.province,jdbcType=VARCHAR},
			</if>
			<if test="record.city != null">
				city = #{record.city,jdbcType=VARCHAR},
			</if>
			<if test="record.district != null">
				district = #{record.district,jdbcType=VARCHAR},
			</if>
			<if test="record.employees != null">
				employees = #{record.employees,jdbcType=INTEGER},
			</if>
			<if test="record.liaison != null">
				liaison = #{record.liaison,jdbcType=VARCHAR},
			</if>
			<if test="record.handset != null">
				handset = #{record.handset,jdbcType=INTEGER},
			</if>
			<if test="record.phone != null">
				phone = #{record.phone,jdbcType=INTEGER},
			</if>
			<if test="record.headSculpture != null">
				head_sculpture = #{record.headSculpture,jdbcType=VARCHAR},
			</if>
			<if test="record.shopBrief != null">
				shop_brief = #{record.shopBrief,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update shop_list
		set id = #{record.id,jdbcType=INTEGER},
		uaccount = #{record.uaccount,jdbcType=VARCHAR},
		shop_name = #{record.shopName,jdbcType=VARCHAR},
		address = #{record.address,jdbcType=VARCHAR},
		province = #{record.province,jdbcType=VARCHAR},
		city = #{record.city,jdbcType=VARCHAR},
		district = #{record.district,jdbcType=VARCHAR},
		employees = #{record.employees,jdbcType=INTEGER},
		liaison = #{record.liaison,jdbcType=VARCHAR},
		handset = #{record.handset,jdbcType=INTEGER},
		phone = #{record.phone,jdbcType=INTEGER},
		head_sculpture = #{record.headSculpture,jdbcType=VARCHAR},
		shop_brief = #{record.shopBrief,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.aptech.domain.ShopList">
		update shop_list
		<set>
			<if test="uaccount != null">
				uaccount = #{uaccount,jdbcType=VARCHAR},
			</if>
			<if test="shopName != null">
				shop_name = #{shopName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="employees != null">
				employees = #{employees,jdbcType=INTEGER},
			</if>
			<if test="liaison != null">
				liaison = #{liaison,jdbcType=VARCHAR},
			</if>
			<if test="handset != null">
				handset = #{handset,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=INTEGER},
			</if>
			<if test="headSculpture != null">
				head_sculpture = #{headSculpture,jdbcType=VARCHAR},
			</if>
			<if test="shopBrief != null">
				shop_brief = #{shopBrief,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.aptech.domain.ShopList">
		update shop_list
		set uaccount = #{uaccount,jdbcType=VARCHAR},
		shop_name = #{shopName,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		district = #{district,jdbcType=VARCHAR},
		employees = #{employees,jdbcType=INTEGER},
		liaison = #{liaison,jdbcType=VARCHAR},
		handset = #{handset,jdbcType=INTEGER},
		phone = #{phone,jdbcType=INTEGER},
		head_sculpture = #{headSculpture,jdbcType=VARCHAR},
		shop_brief = #{shopBrief,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>