<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aptech.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.aptech.domain.Supplier" >
    <id column="Supplierid" property="supplierid" jdbcType="INTEGER" />
    <result column="Suppliername" property="suppliername" jdbcType="VARCHAR" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mailbox" property="mailbox" jdbcType="VARCHAR" />
    <result column="site" property="site" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Supplierid, Suppliername, companyname, linkman, mobilephone, phone, mailbox, site, 
    street
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.aptech.domain.SupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where Supplierid = #{supplierid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where Supplierid = #{supplierid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aptech.domain.SupplierExample" >
    delete from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aptech.domain.Supplier" >
    insert into supplier (Supplierid, Suppliername, companyname, 
      linkman, mobilephone, phone, 
      mailbox, site, street
      )
    values (#{supplierid,jdbcType=INTEGER}, #{suppliername,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mailbox,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aptech.domain.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierid != null" >
        Supplierid,
      </if>
      <if test="suppliername != null" >
        Suppliername,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="mobilephone != null" >
        mobilephone,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mailbox != null" >
        mailbox,
      </if>
      <if test="site != null" >
        site,
      </if>
      <if test="street != null" >
        street,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mailbox != null" >
        #{mailbox,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aptech.domain.SupplierExample" resultType="java.lang.Integer" >
    select count(*) from supplier
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update supplier
    <set >
      <if test="record.supplierid != null" >
        Supplierid = #{record.supplierid,jdbcType=INTEGER},
      </if>
      <if test="record.suppliername != null" >
        Suppliername = #{record.suppliername,jdbcType=VARCHAR},
      </if>
      <if test="record.companyname != null" >
        companyname = #{record.companyname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkman = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephone != null" >
        mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.mailbox != null" >
        mailbox = #{record.mailbox,jdbcType=VARCHAR},
      </if>
      <if test="record.site != null" >
        site = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null" >
        street = #{record.street,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update supplier
    set Supplierid = #{record.supplierid,jdbcType=INTEGER},
      Suppliername = #{record.suppliername,jdbcType=VARCHAR},
      companyname = #{record.companyname,jdbcType=VARCHAR},
      linkman = #{record.linkman,jdbcType=VARCHAR},
      mobilephone = #{record.mobilephone,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      mailbox = #{record.mailbox,jdbcType=VARCHAR},
      site = #{record.site,jdbcType=VARCHAR},
      street = #{record.street,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aptech.domain.Supplier" >
    update supplier
    <set >
      <if test="suppliername != null" >
        Suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mailbox != null" >
        mailbox = #{mailbox,jdbcType=VARCHAR},
      </if>
      <if test="site != null" >
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
    </set>
    where Supplierid = #{supplierid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aptech.domain.Supplier" >
    update supplier
    set Suppliername = #{suppliername,jdbcType=VARCHAR},
      companyname = #{companyname,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mailbox = #{mailbox,jdbcType=VARCHAR},
      site = #{site,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR}
    where Supplierid = #{supplierid,jdbcType=INTEGER}
  </update>
</mapper>